<% layout('/layouts/boilerplate') %>

<div class="row">
  <div class="col-8 offset-2">
    <h3 class="mb-3 mt-3">Edit details</h3>
    <form
      method="POST"
      action="/listings/<%= listing._id %>?_method=PUT"
      novalidate
      class="needs-validation"
      enctype="multipart/form-data"
    >
      <div class="mb-3">
        <lable for="title" class="form-label">Title</lable>
        <input
          value="<%= listing.title %>"
          name="listing[title]"
          type="text"
          class="form-control"
          required
        />
        <div class="invalid-feedback">Title is required</div>
      </div>

      <div class="mb-3">
        <lable for="description" class="form-label">Description</lable>
        <textarea
          name="listing[description]"
          rows="5"
          class="form-control"
          required
        >
        <%= listing.description %></textarea
        >
        <div class="invalid-feedback">Description is required</div>
      </div>

      <div class="mb-3">
        <label for="options" class="form-label">Choose Category</label>
        <select
          name="listing[category]"
          id="options"
          class="form-control"
          required
        >
          <option value=""><%=listing.category%></option>
          <option value="Trending">Trending</option>
          <option value="Rooms">Rooms</option>
          <option value="Iconic cities">Iconic cities</option>
          <option value="Beach">Beach</option>
          <option value="Mountains">Mountains</option>
          <option value="Forts">Forts</option>
          <option value="Camping">Camping</option>
          <option value="Farms">Farms</option>
          <option value="Arctic">Arctic</option>
          <option value="Domes">Domes</option>
          <option value="Boats">Boats</option>
          <option value="Amazing Pools">Amazing Pools</option>
          <option value="Boats">Boats</option>
        </select>
        <div class="invalid-feedback">Category is required</div>
      </div>

      <div class="mb-3 mt-3">
        Original image<br />
        <img src="<%= originalUrl %>" />
      </div>

      <div class="mb-3">
        <lable for="image" class="form-label">Upload image </lable>
        <input name="listing[image]" type="file" class="form-control" />
      </div>

      <div class="row">
        <div class="mb-3 col-md-4">
          <lable for="price" class="form-label">Price</lable>
          <input
            value="<%= listing.price %>"
            name="listing[price]"
            type="number"
            class="form-control"
            required
          />
          <div class="invalid-feedback">Please enter a valid Price</div>
        </div>

        <div class="mb-3 col-md-8">
          <lable for="country" class="form-label">Country</lable>
          <input
            value="<%= listing.country %>"
            name="listing[country]"
            type="text"
            class="form-control"
            required
          />
          <div class="invalid-feedback">Country is required</div>
        </div>
      </div>

      <div class="mb-3">
        <lable for="location" class="form-label">Location</lable>
        <input
          value="<%= listing.location %>"
          name="listing[location]"
          type="text"
          class="form-control"
          required
        />
        <div class="invalid-feedback">Location is required</div>
      </div>

      <button class="btn btn-dark add-btn mb-3 mt-2">Edit</button>
      <br />
    </form>
  </div>
</div>
