<% layout('/layouts/boilerplate') %>


<!-- LISTING DETAILS -->
<div class="row">
  <div class="col-8 offset-3">
  </div>
  <div class="card listing-card col-6 offset-3 show-card">
    <p class="mt-3"><b><%= listing.title %>,<%= listing.country%></b></p>
    <img
      src="<%= listing.image.url%>"
      class="card-img-top show-img mt-3"
      alt="listing_image"
    />
    <div class="card-body">
      <p class="card-text">
        <!-- <p>Owned by <i><%= listing.owner.username %></i></p> -->
        <p><%= listing.description%></p>
        <p>&#8377;<%= listing.price.toLocaleString("en-IN") %></p>
        <p><%= listing.location%></p>
      </p>
    </div>
  </div>

<% if(currUser && listing.owner.equals(currUser._id)) { %>
<div class="btns mb-3">
    <a href="/listings/<%= listing._id %>/edit" class = 'btn btn-dark col-1 offset-3 add-btn'>Edit</a>

    <form method="POST" action="/listings/<%=listing._id %>?_method=DELETE">
    <button class = 'btn btn-dark offset-5'>Delete</button>
    </form>
  </div>
<% } %>

<!-- REVIEW FORM -->
  <div class="col-8 offset-3">
    <hr>
    <%  if(currUser) {%>
    <h4>Leave a Review</h4>

    <form action = "/listings/<%= listing._id %>/reviews" method = "POST" novalidate class = "needs-validation">


      <div class = "mb-3 mt-3">
                <label for = "rating" class = "form-label form-range">Rating</label>
      <fieldset class="starability-slot">

  <input type="radio" id="no-rate" class="input-no-rate" name="review[rating]" value="1" checked aria-label="No rating." />
  <input type="radio" id="first-rate1" name="review[rating]" value="1" />
  <label for="first-rate1" title="Terrible">1 star</label>
  <input type="radio" id="first-rate2" name="review[rating]" value="2" />
  <label for="first-rate2" title="Not good">2 stars</label>
  <input type="radio" id="first-rate3" name="review[rating]" value="3" />
  <label for="first-rate3" title="Average">3 stars</label>
  <input type="radio" id="first-rate4" name="review[rating]" value="4" />
  <label for="first-rate4" title="Very good">4 stars</label>
  <input type="radio" id="first-rate5" name="review[rating]" value="5" />
  <label for="first-rate5" title="Amazing">5 stars</label>
</fieldset>
</div>

      <div class = "mb-3 mt-3">
        <label for = "comment" class = "form-label">Comment</label>
        <textarea type = "text" id = "comment" 
        name = "review[comment]" rows = "3" cols = "30" class = "form-control" required></textarea>
        <div class="invalid-feedback">Please fill in the field</div>
      </div>
      <br>
      <button class = "btn btn-outline-dark">Submit</button>
    </form>
    <hr>
    <% } %>

<!-- SHOW ALL REVIEW FORM -->
    <h4 class = "mb-3"><b>All Reviews</b></h4>
    <div class="row">
    <% for(let review of listing.reviews) { %>
        <div class="card col-5 ms-3 mb-3 ">
          <div class="card-body"></div>
          <h6 class="card-title">@<%= review.author.username%></h6>
          <p class="starability-result card-text" data-rating="<%= review.rating %>">
          </p>
          <p class = "card-text"><%= review.comment %></p>

        <% if(currUser && review.author.equals(currUser._id)) {%>
        <div>
          <form class = "mb-3" method = "POST" action = "/listings/<%= listing._id %>/reviews/<%= review._id %>?_method=DELETE">
          <button class = "btn btn-s btn-dark">Delete review</button>
          </form>
        </div>
        <% } %>
        </div>


      <% } %>
      </div>
  </div>
</div>

